<%- include('./includes/head', {pageTitle: 'An error occured'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
<%- include('./includes/header') %> 
<main>
  <h1>Could not find resource</h1>
  <p>Sorry, for some unfortunate reaseons we could not load the requested resource!</p>
  <p><a class="btn" href="/">Back to safety</a></p>
</main>


<%- include('./includes/footer') %> 